{% extends "gfs_viewer/base.html" %}

{% load tethys_gizmos staticfiles %}
{% load tethys_gizmos %}
{% load staticfiles %}

{% block header_buttons %}
<div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
</div>
{% endblock %}

{% block app_content %}
<div id="outer-container">
    <div id="map"></div>
    <div id="highchart"></div>
</div>
{% endblock %}

{% block app_actions %}
{% endblock %}

{% block app_navigation_items %}
    <!--<span style="white-space:nowrap"/>-->
    <li class="title">App Navigation</li>
    {% gizmo select_input layers %}
    {% gizmo select_input colors %}
    <!--{% gizmo select_input times %}-->
    {% gizmo range_slider opacity %}
    <p>This GFS data is for total precipitation from March 4, 2019's forecast. Currently under development.</p>
    <!--<p><b>Documentation and help</b> available at the <a href="https://www.github.com/rileyhales/gldas" target="_blank">github repo</a> for this app.</p>-->
    <!--<p><b>Tutorial videos</b> available on <a href="https://www.youtube.com" target="_blank">YouTube</a></p>-->
{% endblock %}

